body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .splash {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .splash__container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .splash__container.animate-logo .point__up {
      animation: _ngcontent-avl-c28_point-up-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .point__down {
      animation: _ngcontent-avl-c28_point-down-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .N {
      animation: _ngcontent-avl-c28_n-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .E {
      animation: _ngcontent-avl-c28_e-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .Q {
      animation: _ngcontent-avl-c28_q-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .U {
      animation: _ngcontent-avl-c28_u-animation 6s infinite ease-in-out;
    }
    .splash__container.animate-logo .I {
      animation: _ngcontent-avl-c28_i-animation 6s infinite ease-in-out;
    }
    
@keyframes _ngcontent-avl-c28_point-up-animation {
  0%{z-index:-100;transform:translate(20px);opacity:0}
  10%{z-index:-100;transform:translate(20px) rotate(0);opacity:0}
  15%{z-index:0;transform:translate(0) rotate(180deg);opacity:1;transform-origin:3% 9%}
  30%{transform:translate(0)}
  35%{transform:translate(30px)}
  40%{transform:translate(45px,15px) scale(2)}
  47%{transform:translate(45px,15px) scale(2)}
  50%{transform:translate(50px,11px) scale(2)}
  55%{transform-origin:3.5% 9%;transform:translate(50px,11px) scale(2)}
  60%{transform:translate(45px,15px) scale(2) rotate(-180deg)}
  65%{transform:translate(45px,15px) scale(2) rotate(-180deg);transform-origin:3.5% 9%}
  70%{transform:translate(50px,11px) scale(2) rotate(-180deg);transform-origin:3.5% 9%}
  80%{transform:translate(45px,15px) scale(2) rotate(-360deg);transform-origin:3.5% 9%}
  90%{transform:translate(45px,15px) scale(2) rotate(-360deg)}
  95%{transform:translate(-60px) scale(.5) rotate(-360deg)}
  to{transform:translate(-60px) scale(0) rotate(-360deg)}
}
@keyframes _ngcontent-avl-c28_point-down-animation {
  0%{z-index:-100;transform:translate(20px);opacity:0}
  10%{z-index:-100;transform:translate(20px) rotate(0);opacity:0}
  15%{z-index:0;transform:translate(0) rotate(180deg);opacity:1;transform-origin:3% 9%}
  30%{transform:translate(0)}
  35%{transform:translate(30px)}
  40%{transform:translate(43px,15px) scale(2)}
  47%{transform:translate(43px,15px) scale(2)}
  50%{transform:translate(39px,19px) scale(2)}
  55%{transform-origin:3.5% 9%;transform:translate(39px,19px) scale(2)}
  60%{transform:translate(44px,15px) scale(2) rotate(-180deg)}
  65%{transform:translate(44px,15px) scale(2) rotate(-180deg)}
  70%{transform:translate(39px,19px) scale(2) rotate(-180deg)}
  80%{transform:translate(44px,15px) scale(2) rotate(-360deg);transform-origin:3.5% 9%}
  90%{transform:translate(44px,15px) scale(2) rotate(-360deg)}
  95%{transform:translate(-60px) scale(.5) rotate(-360deg)}
  to{transform:translate(-60px) scale(0) rotate(-360deg)}
}
@keyframes _ngcontent-avl-c28_n-animation {
  0%{transform:translate(30px);opacity:0}
  3%{transform:translate(30px);opacity:1}
  15%{transform:translate(0)}
  30%{transform:translate(0)}
  35%{transform:translate(30px);rotate:0deg}
  39%{transform-origin:30% 52%;rotate:45deg}
  43%{transform:translate(50px,30px)}
  to{transform:translate(50px,40px)}
}
@keyframes _ngcontent-avl-c28_e-animation {
  0%{opacity:0;transform:translate(20px)}
  6%{opacity:0;transform:translate(20px)}
  15%{opacity:1;transform:translate(0)}
  30%{opacity:1;transform:translate(0)}
  31%{opacity:0;transform:translate(-20px)}
  to{opacity:0}
}
@keyframes _ngcontent-avl-c28_q-animation {
  0%{opacity:0;transform:translate(12px)}
  8%{opacity:0;transform:translate(12px)}
  15%{opacity:1;transform:translate(0)}
  30%{opacity:1;transform:translate(0)}
  32%{opacity:0;transform:translate(-20px)}
  to{opacity:0}
}
@keyframes _ngcontent-avl-c28_u-animation {
  0%{opacity:0;transform:translate(12px)}
  9%{opacity:0;transform:translate(12px)}
  15%{opacity:1;transform:translate(0)}
  30%{opacity:1;transform:translate(0)}
  33%{opacity:0;transform:translate(-30px)}
  to{opacity:0}
}
@keyframes _ngcontent-avl-c28_i-animation {
  0%{opacity:0;transform:translate(10px) rotate(90deg);transform-origin:100% 80%}
  11%{opacity:0;transform:translate(10px) rotate(90deg)}
  15%{opacity:1;transform:translate(0) rotate(0)}
  30%{opacity:1;transform:translate(0)}
  34%{opacity:0;transform:translate(-40px)}
  to{opacity:0}
}